<kit-content-header [title]="'Content Headers'" [underline]="true" [fontSize]="'2rem'"></kit-content-header>
<kit-content-header [title]="'Changable text size'" [underline]="true" [fontSize]="'1.5rem'"></kit-content-header>
<kit-content-header [title]="'Underline is optional'" [underline]="false" [fontSize]="'1rem'"></kit-content-header>
<kit-content-header [title]="'Underline coloring'" [underline]="true" 
                    [underlineColor]="'red'" 
                    [fontSize]="'1rem'"></kit-content-header>
<kit-content-header [title]="'Text coloring'" [underline]="true" [textColor]="'blue'" [fontSize]="'1rem'"></kit-content-header>