<div>
    <kit-content-header [title]="'Welcome to CatKit UI'" [underline]="true" [fontSize]="'2rem'"></kit-content-header>
    <kit-spinner></kit-spinner>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a sem et sapien porttitor gravida eu sed lectus.
        Sed lorem dolor, malesuada ut aliquam quis, feugiat lacinia lacus. Nullam vel mi interdum, rhoncus felis ac,
        luctus sapien. Cras ut euismod sapien. Morbi non congue nunc. Cras quam nunc, ullamcorper at dapibus id, dapibus
        sed velit. Etiam congue at mauris eu efficitur. Etiam volutpat ligula sapien, vel pretium urna malesuada nec.
        Nullam vitae neque est. Suspendisse non erat sit amet ante sodales euismod nec eget libero. Donec tincidunt
        metus elit, eget dictum risus euismod ac. Vivamus justo nisl, mollis sed ornare quis, malesuada vel sem. Cras
        nisl felis, aliquet et accumsan quis, pulvinar ut justo.
    </p>
    <p>
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque varius
        felis mauris, eu luctus tortor lacinia non. Praesent et suscipit ligula. Proin at viverra neque, vel mattis
        ante. Pellentesque bibendum pellentesque enim, quis accumsan urna. Mauris non imperdiet tellus, at vestibulum
        ante. Mauris condimentum urna eget sem fringilla, at porta libero placerat. Maecenas sit amet sapien porta,
        semper tortor ut, tempor purus. Vivamus vulputate malesuada tellus vel malesuada. Cras posuere, quam eu mollis
        semper, quam nulla aliquet felis, id blandit leo dui imperdiet dolor. Mauris elementum ex sed mi iaculis
        laoreet. Aenean ultrices justo eu leo tincidunt, ut vestibulum justo ultrices. Orci varius natoque penatibus et
        magnis dis parturient montes, nascetur ridiculus mus.
    </p>
    <p>
        Integer ultricies elit eget risus varius scelerisque. Maecenas ex nibh, viverra sed ligula ut, vulputate
        molestie lectus. Morbi dapibus feugiat ex vel pharetra. Cras a felis dictum, elementum sapien a, posuere ipsum.
        Aliquam arcu purus, feugiat eget magna ut, auctor gravida quam. Duis suscipit eu eros quis euismod. Maecenas
        lacinia facilisis odio eget gravida. Nulla nisl dolor, ullamcorper ac congue placerat, interdum nec eros.
        Suspendisse quis neque id ipsum consectetur posuere. Praesent nisl tortor, dictum non blandit quis, sollicitudin
        quis lacus. Etiam maximus massa a ligula volutpat placerat. Sed scelerisque varius elit, venenatis commodo
        ligula lobortis non. Nunc at risus sed magna suscipit aliquam. Curabitur et vehicula lorem.
    </p>
    <p>
        Etiam eget viverra nibh. Pellentesque in lectus tellus. Nullam luctus gravida est non gravida. Nulla tempus
        feugiat quam at condimentum. Nam interdum lacus ac ante sollicitudin cursus. Ut mauris dolor, cursus ac felis
        sit amet, pharetra semper justo. Integer vulputate sagittis massa in accumsan.
    </p>
    <p>
        Aenean dui nibh, scelerisque ut est vel, ultricies posuere nisi. Sed nibh sapien, elementum quis dolor ac,
        lacinia tincidunt magna. Suspendisse nunc est, suscipit eget faucibus nec, fringilla non arcu. Duis justo erat,
        dignissim nec mauris vel, vehicula sodales massa. Praesent nibh nulla, gravida ac magna vel, gravida consequat
        metus. Phasellus lobortis purus mi, ac aliquet neque vulputate vitae. Maecenas varius leo ipsum, eget hendrerit
        mauris bibendum ut. Vestibulum finibus mollis porttitor. Praesent quis ligula sed sem consectetur porta vel sed
        nisl. Duis ultricies in ante sed interdum. Etiam convallis, dui sed faucibus lacinia, magna metus dictum mauris,
        sit amet iaculis nibh libero ac eros. Aenean feugiat pellentesque metus, ut pellentesque dui. Sed ut sagittis
        lectus. Quisque rhoncus diam magna, at pellentesque ante pharetra eu. Pellentesque nec varius nulla, eget
        aliquam nulla.
    </p>
</div>